:root {
    --cor: #ffffff;
    --cor1: #ff00e2;
    --cor2: #c484f1;
    --cor3: #8906e6;
    --cor4: #100d28;
    --cor5: #050deb;
}

.nomes {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.603);
}

.nav_css {
    background-color: var(--cor4);
}

.paragrafos {
    text-align: justify;
}
.borda{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
}
.link{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.links{
    width: 80%;
    background-color: #0d6efd ;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    color: black;
}
.links:visited{
    color: black;
}
.links:hover{
    transition: 0.3s;
    background-color: #8f8f8f ;
}