:root {
    --cor: #ffffff;
    --cor1: #ff00e2;
    --cor2: #c484f1;
    --cor3: #8906e6;
    --cor4: #100d28;
    --cor5: #050deb;
}

.nomes {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.603);
}

.nav_css {
    background-color: var(--cor4);
}

.paragrafos {
    text-align: justify;
}